body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  max-width: 50%;
  border: 1px solid gray;
  font-size: 9px;
  margin: 12px;
}

tr, td, th {
  padding: 3px;
  border: 1px solid lightgray;
  text-align: right;
  background: #f8f8f8;
}

img {
  max-width: 33%;
  float: left;
  margin-right: 12px;
}

a {
  text-decoration: none;
}

.a-pdf-url-missing {
  color: lightgray;
}

.a-pdf-url-exists {
  color: orange;
  margin-left: 12px;
}


.td-int {
  color: brown;
}

.td-percent {
  color: red;
}

.td-float {
  color: purple;
}

.td-unknown {
  font-weight: bold;
  background: #f0f0f0;

}

.div-page {
  margin: 24px;
}
