body {
  font-family: Futura;
}

table {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid gray;
  font-size: 9px;
}

tr, td, th {
  padding: 3px;
  border: 1px solid lightgray;
  text-align: right;
}
