body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid gray;
  font-size: 9px;
  margin: 12px;
}

tr, td, th {
  padding: 3px;
  border: 1px solid lightgray;
  text-align: right;
}

a {
  text-decoration: none;
}

.a-pdf-url-missing {
  color: lightgray;
}

.a-pdf-url-exists {
  color: orange;
  margin-left: 12px;
}
